openapi: 3.1.0
info:
  title: Vimeo Albums API
  version: '3.4'
  description: 'The Vimeo REST API enables programmatic upload, management, embedding,

    and analytics of videos, albums, channels, groups, and users.

    Authentication uses OAuth 2.0 Bearer tokens. All requests are made

    against https://api.vimeo.com.

    '
  contact:
    name: Vimeo Developer Docs
    url: https://developer.vimeo.com/api/reference
servers:
- url: https://api.vimeo.com
  description: Vimeo API base URL
security:
- bearerAuth: []
tags:
- name: Albums
paths:
  /users/{user_id}/albums:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Albums
      summary: List a user's albums
      operationId: listUserAlbums
      responses:
        '200':
          description: Albums list
    post:
      tags:
      - Albums
      summary: Create an album for a user
      operationId: createUserAlbum
      responses:
        '201':
          description: Album created
  /users/{user_id}/albums/{album_id}:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    - name: album_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Albums
      summary: Get an album
      operationId: getUserAlbum
      responses:
        '200':
          description: Album
    delete:
      tags:
      - Albums
      summary: Delete an album
      operationId: deleteUserAlbum
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.vimeo.com/oauth/authorize
          tokenUrl: https://api.vimeo.com/oauth/access_token
          scopes:
            public: Access public data
            private: Access private data
            create: Create albums, channels, etc.
            edit: Edit videos, albums, channels
            delete: Delete videos, albums, channels
            upload: Upload videos
        clientCredentials:
          tokenUrl: https://api.vimeo.com/oauth/authorize/client
          scopes:
            public: Access public data
