openapi: 3.1.0
info:
  title: Vimeo Albums Channels API
  version: '3.4'
  description: 'The Vimeo REST API enables programmatic upload, management, embedding,

    and analytics of videos, albums, channels, groups, and users.

    Authentication uses OAuth 2.0 Bearer tokens. All requests are made

    against https://api.vimeo.com.

    '
  contact:
    name: Vimeo Developer Docs
    url: https://developer.vimeo.com/api/reference
servers:
- url: https://api.vimeo.com
  description: Vimeo API base URL
security:
- bearerAuth: []
tags:
- name: Channels
paths:
  /channels:
    get:
      tags:
      - Channels
      summary: List channels
      operationId: listChannels
      responses:
        '200':
          description: Channels list
  /channels/{channel_id}:
    parameters:
    - name: channel_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Channels
      summary: Get a channel
      operationId: getChannel
      responses:
        '200':
          description: Channel
  /channels/{channel_id}/videos:
    parameters:
    - name: channel_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Channels
      summary: List videos in a channel
      operationId: listChannelVideos
      responses:
        '200':
          description: Videos list
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.vimeo.com/oauth/authorize
          tokenUrl: https://api.vimeo.com/oauth/access_token
          scopes:
            public: Access public data
            private: Access private data
            create: Create albums, channels, etc.
            edit: Edit videos, albums, channels
            delete: Delete videos, albums, channels
            upload: Upload videos
        clientCredentials:
          tokenUrl: https://api.vimeo.com/oauth/authorize/client
          scopes:
            public: Access public data
