openapi: 3.1.0
info:
  title: Vimeo API
  version: '3.4'
  description: |
    The Vimeo REST API enables programmatic upload, management, embedding,
    and analytics of videos, albums, channels, groups, and users.
    Authentication uses OAuth 2.0 Bearer tokens. All requests are made
    against https://api.vimeo.com.
  contact:
    name: Vimeo Developer Docs
    url: https://developer.vimeo.com/api/reference
servers:
  - url: https://api.vimeo.com
    description: Vimeo API base URL
tags:
  - name: Users
  - name: Videos
  - name: Channels
  - name: Albums
paths:
  /me:
    get:
      tags: [Users]
      summary: Get the authenticated user
      operationId: getAuthenticatedUser
      responses:
        '200':
          description: Authenticated user
    patch:
      tags: [Users]
      summary: Edit the authenticated user
      operationId: editAuthenticatedUser
      responses:
        '200':
          description: User updated
  /me/videos:
    get:
      tags: [Videos]
      summary: List the authenticated user's videos
      operationId: listMyVideos
      responses:
        '200':
          description: Videos list
    post:
      tags: [Videos]
      summary: Upload a video for the authenticated user
      operationId: uploadVideo
      responses:
        '201':
          description: Upload initiated
  /users/{user_id}:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Users]
      summary: Get a user
      operationId: getUser
      responses:
        '200':
          description: User
  /users/{user_id}/videos:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Videos]
      summary: List a user's videos
      operationId: listUserVideos
      responses:
        '200':
          description: Videos list
    post:
      tags: [Videos]
      summary: Upload a video for a user
      operationId: uploadUserVideo
      responses:
        '201':
          description: Upload initiated
  /videos/{video_id}:
    parameters:
      - name: video_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Videos]
      summary: Get a video
      operationId: getVideo
      responses:
        '200':
          description: Video
    patch:
      tags: [Videos]
      summary: Edit a video
      operationId: editVideo
      responses:
        '200':
          description: Video updated
    delete:
      tags: [Videos]
      summary: Delete a video
      operationId: deleteVideo
      responses:
        '204':
          description: Deleted
  /channels:
    get:
      tags: [Channels]
      summary: List channels
      operationId: listChannels
      responses:
        '200':
          description: Channels list
  /channels/{channel_id}:
    parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Channels]
      summary: Get a channel
      operationId: getChannel
      responses:
        '200':
          description: Channel
  /channels/{channel_id}/videos:
    parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Channels]
      summary: List videos in a channel
      operationId: listChannelVideos
      responses:
        '200':
          description: Videos list
  /users/{user_id}/albums:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Albums]
      summary: List a user's albums
      operationId: listUserAlbums
      responses:
        '200':
          description: Albums list
    post:
      tags: [Albums]
      summary: Create an album for a user
      operationId: createUserAlbum
      responses:
        '201':
          description: Album created
  /users/{user_id}/albums/{album_id}:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: album_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Albums]
      summary: Get an album
      operationId: getUserAlbum
      responses:
        '200':
          description: Album
    delete:
      tags: [Albums]
      summary: Delete an album
      operationId: deleteUserAlbum
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.vimeo.com/oauth/authorize
          tokenUrl: https://api.vimeo.com/oauth/access_token
          scopes:
            public: Access public data
            private: Access private data
            create: Create albums, channels, etc.
            edit: Edit videos, albums, channels
            delete: Delete videos, albums, channels
            upload: Upload videos
        clientCredentials:
          tokenUrl: https://api.vimeo.com/oauth/authorize/client
          scopes:
            public: Access public data
security:
  - bearerAuth: []
